.img-responsive {
    width: 60%;
    height: auto;  
}

.img-circular {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
}