
 .navigation {
     background-color: rgb(161, 99, 7);
     color:  rgb(236, 236, 236);
     padding: 2rem 0 1rem 0;
     
 }

 nav {
    color: white;
    background-color: rgb(180, 179, 252);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .nav-brand{
     padding: 0 1.5rem;
     font-weight: bold;
     font-size: 1.5rem;
 }

 .nav-brand:hover {
    color: rgb(255, 255, 255);
 }

 .list-non-bullet {
     list-style: none;
     font-size: 1.2rem;
 }

 .nav-pills{
     display: flex;
     flex-direction: row;
     margin-left: auto;
     padding-right: 5rem;
 }

 .list-item-inline {
     display: inline;
     padding-left: 3rem;
 }

 .link {
     color: rgb(221, 221, 221);
     text-decoration: none;
 }

 .link:hover {
     color: rgb(247, 243, 243);
     font-weight: bold;
 }